<?php

return array(
    /* See http://www.redbeanphp.com/manual/compatible for options */
    'redbean' => array(
        'connection' => array(
            'dsn' => '',
            'user' => '',
            'password' => '',
        ),
        'freeze' => false,
        'debug' => false,
    ),
);
